<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section class="baby-section baby-containers">
        <div class="baby__img">
          <img src="/assets/images/Baby.png" alt="">
        </div>
        <div class="baby__description">
            <h3>دارای تنظیمات مخصوص کودکان!</h3>
            <p>نگران تغیر تنظیمات بانواز توسط فرزند عزیزت نباش!</p>
            <button class="btn btn-main-dark">دانلود بروشور</button>
        </div>
    </section>

</body>

</html>