<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/style.css">
  <style>
    .baby-containers {
      background-color: #f6f6f6;
      border: 1px solid red;
      display: grid;
      height: 30rem;
      grid-template-columns: 1fr, 3fr;
      grid-template-rows: 1fr;
      max-width: 1140px;
      margin: 0 auto;
    }

    .one {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  </style>
</head>

<body>

  <body>
    <section class="baby-containers">
      <div class="one">
        <img src="/assets/images/Baby.png" alt="">
        <h3>دارای تنظیمات مخصوص کودکان!</h3>
        <p>نگران تغیر تنظیمات بانواز توسط فرزند عزیزت نباش</p>
        <div class="btn1">
          <button class="btn btn-header-light">فروشگاه بانواز</button>
        </div>
      </div>
    </section>
  </body>

</body>

</html>


<!-- 
.container {
    margin: 0 auto;
    border: 1px solid gold;
  
  }
  
  .baby {
    margin-top: 5rem;
    width: 37.5rem;
    height: 34.5rem;
    background-color: ;
  }
  
  .baby__image {
    display: flex;
    justify-content: flex-start;
  }
  
  .baby__white {
    display: flex;
    justify-content: flex-end;
    width: 18.5rem;
    height: 16.8rem;
    background-color: gold;
  }
  
  .baby__align {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .baby__heading {
    color: var(--color-nav-badge-dark);
    flex-wrap: nowrap;
    font-size: 1.6rem;
    font-weight: 700;
  } -->


<!-- <section class="baby">
        <div class="baby__img">
            <img src="" alt="">
        </div>
        <div class="baby__white">
            <h2 class="baby__h"></h2>
            <p class="baby__text"></p>
            <button class="btn btn-main-light baby__button">فروشگاه بانواز</button>
        </div>
    </section> -->