<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section class="company-container">
        <div class="company__content">
            <h2 class="company__title">رفقای بانواز!</h2>
            <p class="company__text">ما افتخار همکاری با بیش از ده ها شرکت رو
در بانواز داریم.</p>
        </div>
        <div class="circle-img">
            <img src="/assets/images/media2.png" alt="" class="company__image">
        </div>
    </section>
</body>

</html>