<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/fonts.css">
</head>

<body>
    <section class="footer-all">
        <section class="footer-section vertical">
            <div class="first-footer">
                <ul class="list list--footers ul1">
                    <li class="list__footer">بانواز</li>
                    <li class="list__footer">خانه</li>
                    <li class="list__footer">فروشگاه</li>
                    <li class="list__footer">ورود به داشبورد</li>
                </ul>
                <ul class="list list--footers ul2">
                    <li class="list__footer">فروشگاه</li>
                    <li class="list__footer">دستگاه مرکزی</li>
                    <li class="list__footer">سنسورهای داخلی</li>
                    <li class="list__footer">سنسورهای خارجی</li>
                </ul>
            </div>

            <div class="second-footer">
                <ul class="list list--footers ul3">
                    <li class="list__footer">بانواز</li>
                    <li class="list__footer">درباره بانواز</li>
                    <li class="list__footer">وبلاگ</li>
                    <li class="list__footer">موقعیت های شغلی</li>
                    <li class="list__footer">تماس با ما</li>
                </ul>

                <ul class="list list--footers ul4">
                    <li class="list__footer">
                        <p>دانلود اپلیکیشن</p>
                    </li>
                    <li class="list__footer"><img src="/assets/images/google-play-badge.png" alt=""></li>
                    <li class="list__footer"><img src="/assets/images/app-store-logo-1.png" alt=""></li>
                </ul>
            </div>
        </section>
        <hr>
        <div class="icons-footer">
            <div class="socials">
                <!-- <span><img src="/assets/images/svg/Yt.svg" alt=""></span>
                <span><img src="/assets/images/svg/Tw.svg" alt=""></span>
                <span><img src="/assets/images/svg/3h.svg" alt=""></span>
                <span><img src="/assets/images/svg/Path.svg" alt=""></span> -->
                <span>
                    <svg class="icon icon1">
                        <use xlink:href="/assets/images/svg-sprite.svg#Yt"></use>
                    </svg>
                </span>
                <span>
                    <svg class="icon icon2">
                        <use xlink:href="/assets/images/svg-sprite.svg#Tw"></use>
                    </svg>
                </span>
                <span>
                    <svg class="icon icon3">
                        <use xlink:href="/assets/images/svg-sprite.svg#3h"></use>
                    </svg>
                </span>
                <span>
                    <svg class="icon icon4">
                        <use xlink:href="/assets/images/svg-sprite.svg#Path"></use>
                    </svg>
                </span>
            </div>
            <div class="svg-background"></div>
            <div class="svg-background"></div>
            <div class="svg-background"></div>
            <div class="svg-background"></div>
            <p id="footer-p">تمامی حقوق متعلق به بانواز میباشد.</p>
        </div>

    </section>
</body>

</html>