<section class="home">
    <div class="home__view">
        <img class="home--photo" src="./assets/images/house-removebg-preview.png" alt="house">
        <img class="home--phone" src="./assets/images/iPhone 12 Mini-1.png" alt="house">
    </div>
    <div class="home__intro">
        <h1 class="home__heading">خیالت از خونه راحت !</h1>
        <p class="home__text"> بانواز واژه‌ای کردی به معنای باخبر ساختن با صدای بلند
            است. درست مثل بانواز!
            با سنسورهای بانواز از هیچ اتفاقی بی خبر نیستی!
            چه خونه باشی چه نه!
        </p>
        <button class="btn btn--primary home--btn">فروشگاه بانواز</button>
    </div>
</section>