<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <section class="intro-section" style="background-color: aqua;">
        
        <div class="intro__images">
            <img src="/assets/images/iPhone 11 Pro Max - 10 2.png" alt="" class="intro__image2">
            <img src="/assets/images/house-removebg-preview.png" alt="" class="intro__image1">
        </div>

        <div class="intro__content">
            <h1 class="intro__title">خیالت از خونه راحت!</h1>
            <p class="intro__text">بانواز واژه‌ای کردی به معنای باخبر ساختن با صدای بلند است.
درست مثل بانواز!
با سنسورهای بانواز از هیچ اتفاقی بی خبر نیستی!
چه خونه باشی چه نه.</p>
           <button class="btn btn-main-white">فروشگاه بانواز</button>
        </div>
    </section>

</body>

</html>