<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body style="background-color: #5BB1CC;">
  <section class="options">
    <div class="option">
      <div class="option__container"><img class="option__vector" src="/assets/images/VectorDoor.svg" alt="">
        <p>درب و پنجره</p>
      </div>
    </div>
    <div class="option">
      <div class="option__container"><img class="option__vector" src="/assets/images/VectorPlant.svg" alt="">
        <p>گل و گیاه</p>
      </div>
    </div>
    <div class="option">
      <div class="option__container"><img class="option__vector" src="/assets/images/VectorCharger.svg" alt="">
        <p>وسایل برقی</p>
      </div>
    </div>
    <div class="option">
      <div class="option__container"><img class="option__vector" src="/assets/images/VectorLamp.svg" alt="">
        <p>روشنایی</p>
      </div>
    </div>
    <div class="option">
      <div class="option__container"><img class="option__vector" src="/assets/images/VectorRadiator.svg" alt="">
        <p>گرمایشی</p>
      </div>
    </div>
    <div class="option">
      <div class="option__container"><img class="option__vector" src="/assets/images/VectorPet.svg" alt="">
        <p>حیوانات</p>
      </div>
    </div>
  <!-- </section>
  <section class="vertical">
    <ul class="list list--footers">
      <li class="list__footer">بانواز</li>
      <li class="list__footer">خانه</li>
      <li class="list__footer">فروشگاه</li>
      <li class="list__footer">ورود به داشبورد</li>
    </ul>
    <ul class="list list--footers">
      <li class="list__footer">فروشگاه</li>
      <li class="list__footer">دستگاه مرکزی</li>
      <li class="list__footer">سنسورهای داخلی</li>
      <li class="list__footer">سنسورهای خارجی</li>
    </ul>
  </section> -->
</body>
</html>
