<header class="main--header">
    <nav class="nav container">
        <a href="#">
            <img src="./assets/images/Logo.svg" alt="">
        </a>
        <div class="nav__toggler">
            <div class="bar bar-one"></div>
            <div class="bar bar-two"></div>
            <div class="bar bar-three"></div>
        </div>
        <ul class="list list--inline nav__list">
            <li class="nav__item nav1"><a href="#">خانه</a></li>
            <li class="nav__item nav2"><a href="#">فروشگاه</a></li>
            <li class="nav__item nav3"><a href="#">درباره ما</a></li>
            <li class="nav__item nav4"><a href="#" class="btn btn--primary cta">ورود به داشبورد</a></li>
            <li class="nav__item nav5"><a href="#" class="btn btn--secondary cta">دانلود اپلیکیشن</a></li>
        </ul>
    </nav>
</header>
<script src="./js/main.js"></script>