<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/fonts.css">
</head>

<body>
    <header class="main-header">
        <nav class="nav container">
            <a href="#">
                <img src="/assets/images/logo.svg" alt="" />
            </a>
            <div class="nav__toggler">
                <div class="bar bar-one"></div>
                <div class="bar bar-two"></div>
                <div class="bar bar-three"></div>
            </div>
            <ul class="list nav__list">
                <li class="nav__item"><a href="#">پشتیبانی</a></li>
                <li class="nav__item"><a href="#">خدمات کسب و کارها</a></li>
                <li class="nav__item"><a href="#">فرصت های شغلی</a></li>
                <li class="nav__item"><a href="#">وبلاگ</a></li>
                <li class="nav__item cta">
                    <a href="#" class="btn btn--primary btn--block">دانلود تپسی</a>
                </li>
            </ul>
        </nav>
    </header>
    <script src="/js/main.js"></script>
</body>

</html>