<header class="main-header">
    <nav class="nav container-nav">
        <a href="#">
            <img src="/assets/images/Logo.svg" alt="">
        </a>
        <div class="nav__toggler">
            <div class="bar bar-one"></div>
            <div class="bar bar-two"></div>
            <div class="bar bar-three"></div>
        </div>
        <ul class="lists list nav__list">
            <ul class="nav-start">
                <li class="nav__item nav1"><a href="#">خانه</a></li>
                <li class="nav__item nav2"><a href="#">فروشگاه</a></li>
                <li class="nav__item nav3"><a href="#">درباره ما</a></li>
            </ul>
            <li class="nav__item nav-r"><a href="#"><button class="btn btn-primary-header btn__nav">ورود به
                        داشبورد</button></a></li>
            <li class="nav__item cta btn--block"><a href="#"><button class="btn btn-last-section btn2__nav">دانلود
                        اپلیکیشن</button></a></li>
        </ul>
    </nav>
</header>