<section class="option-icons container">
    <div class="icons">
        <div class="icon--item">
            <span class="item--nav">
                <img src="./assets/images/svg-option/VectorDoor.svg" alt=" icon">
            </span>
            <span class="option-p">درب و پنجره</span>
        </div>
        <div class="icon--item">
            <span class="item--nav">
                <img src="./assets/images/svg-option/VectorPlant.svg" alt=" icon">
            </span>
            <span class="option-p">گل و گیاه</span>
        </div>
        <div class="icon--item">
            <span class="item--nav">
                <img src="./assets/images/svg-option/VectorCharger.svg" alt=" icon">
            </span>
            <span class="option-p">وسایل برقی</span>
        </div>
        <div class="icon--item">
            <span class="item--nav">
                <img src="./assets/images/svg-option/VectorLamp.svg" alt=" icon">
            </span>
            <span class="option-p">روشنایی</span>
        </div>
        <div class="icon--item">
            <span class="item--nav">
                <img src="./assets/images/svg-option/VectorRadiator.svg" alt=" icon">
            </span>
            <span class="option-p">گرمایشی</span>
        </div>
        <div class="icon--item">
            <span class="item--nav">
                <img src="./assets/images/svg-option/VectorPet.svg" alt=" icon">
            </span>
            <span class="option-p">حیوانات</span>
        </div>
    </div>
</section>