<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- <section class="section-manage">
        <div class="phone"><img src="/assets/images/iPhone 12 Mini.png" alt=""></div>
        <div class="content">
            <h3>مدیریت خانه روی گوشی!</h3>
            <p>با دانلود اپلیکیشن بانواز میتونی تمام سنسورهارو روی گوشیت مشاهده و کنترل کنی.</p>
            <div class="btn2">
                <button class="btn btn-main-dark">دانلود اپلیکیشن</button>
            </div>
        </div>
    </section> -->
    <section class="manage container">
        <div>
            <img src="/assets/images/iPhone 12 Mini.png" alt="" class="manage__image">
        </div>

        <div class="manage__content">
            <h3 class="manage__title">مدیریت خانه روی گوشی!</h3>
            <p class="manage__text">با دانلود اپلیکیشن بانواز میتونی تمام سنسورهارو
                 روی گوشیت مشاهده و
                  کنترل کنی.</p>
            <button class="btn btn-last-section">فروشگاه بانواز</button>
        </div>
    </section>

</body>

</html>