<section class="special container">
    <h2 class="special--heading">قابلیت های ویژه بانواز</h2>
    <div class="special--holder">
        <div class="special--block">
            <div class="special--image">
                <img src="./assets/images/Cat.png" alt="">
            </div>
            <div class="special--text">
                <p>سنسورهایی که برای حیوان های خانگی شما نصب میشن میتونن با هوش مصنوعی گرسنه بودن اون رو تشخیص بدن!
                </p>
            </div>
        </div>
        <div class="special--block">
            <div class="special--image">
                <img src="./assets/images/Plant.png" alt="">
            </div>
            <div class="special--text">
                <p>با محاسبه حرارت اطراف خاک گیاهان میشه فهمید کی باید دوباره به گیاه ها آب بدی!</p>
            </div>
        </div>
        <div class="special--block">
            <div class="special--image">
                <img src="./assets/images/Office.png" alt="">
            </div>
            <div class="special--text">
                <p>میتونی مدت زمان روشن بودن دستگاه های الکتریکی رو کنترل کنی.</p>
                <p>یا حتی برای روشن بودن اونها از بانواز کمک بگیری</p>
            </div>
        </div>
        <div class="special--block">
            <div class="special--image">
                <img src="./assets/images/Door.png" alt="">
            </div>
            <div class="special--text">
                <p>باز و بسته شدن درب ها و پنجره ها، تشخیص حضور انسان و کلی قابلیت دیگه در سنسور های بانواز!</p>
            </div>
        </div>
    </div>
</section>