<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section class="compatibility">
            <h2 class="compt__title">قابلیت های ویژه بانواز</h2>
        <section class="compt-section">
            <div class="compt__container">
                <div><img src="/assets/images/Cat.png" alt=""></div>
                <p>سنسورهایی که برای حیوان های خانگی شما نصب میشن میتونن با هوش مصنوعی گرسنه بودن اون رو تشخیص بدن!
            </div>
            <div class="compt__container">
                <div><img src="/assets/images/Plant.png" alt=""></div>
                <p>با محاسبه حرارت اطراف خاک گیاهان میشه فهمید کی باید دوباره به گیاه ها آب بدی!</p>
            </div>
            <div class="compt__container">
                <div><img src="/assets/images/Office.png" alt=""></div>
                <p>میتونی مدت زمان روشن بودن دستگاه های الکتریکی رو کنترل کنی. یا حتی برای روشن بودن اونها از بانواز
                    کمک بگیری.</p>
            </div>
            <div class="compt__container">
                <div><img src="/assets/images/Door.png" alt=""></div>
                <p>باز و بسته شدن درب ها و پنجره ها، تشخیص حضور انسان و کلی قابلیت دیگه در سنسور های بانواز!</p>
            </div>
        </section>
        
    </section>
</body>

</html>